.container {
  width: 100%;
  margin: 0 auto; /* Keeps the container centered, remove if full-width */
  padding: 0 !important; /* Removes all padding */
  font-size: 14px;
}

.layout-module--container--78b04 {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 !important;
  font-size: 14px;}


  .container .layout-heading 
  {  
  color: #9e7e3b !important;
  font-size: 14px;
}