
/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600&family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap');

/* Margin & border */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Prevent horizontal scrolling if there are layout shifts */
}

/* General styling */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color:#ffffff;
  color: #010101;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  padding-top: 20px; /* Adjust this value to match the header's height */
  padding-bottom: 100px; /* Height of the fixed footer */
}

body, html {
  overflow-x: hidden; /* Prevent horizontal scroll issues */
}

/* Main content */
main {
flex: 1 0 auto;
margin-top: 80px; /* This margin pushes content below the sticky header */
display: flex;
flex-direction: column;
}


.App {
  text-align: center;
}


/* Sticky Header */
.header {
  position: relative; /* Default position */
  z-index: 100; /* Ensure it layers correctly */
  background-color: #ffffff;
  transition: all 0.3s ease; /* Smooth transition when styles change */
}

.header.sticky {
  position: fixed; /* Make it stick */
  top: 0; /* Stick to the top */
  left: 0; /* Align to the left edge */
  width: 100%; /* Ensure it spans the full width */
  z-index: 1000; /* Layer above other elements */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
  padding-bottom: 20px /* Adjust this value to match the header's height */
}

  

/* Container inside header */
.container-fluid {
  display: flex;
  justify-content: space-between; /* Space between the logo and navbar */
  align-items: center;
  padding: 0; /* No extra padding */
}

.container-fluid, .row {
  overflow: visible; /* Ensure sticky works properly */
}

/* Logo Styling */
.logo {
  margin-left: 8vw;
  display: flex;
}

.logo img {
  width: auto; /* Adjust the size of your logo */
  height: 7vw;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1; /* Push navbar to the right */
}

.heroimage img{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  object-fit: cover;
}
