
/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600&family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap');
/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.app-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px; /* Adjust size as needed */
  color: black; /* White text */
  margin-bottom: 20px; /* Space below the heading */
  margin-top: 30px;
  margin-left: 80px;

  font-style: italic;
  text-align: left; /* Center align */
}

