
/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600&family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap');
/* General Reset */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures body spans the viewport fully */
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.section-spacing {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 0;
}

div.start {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%; /* Ensure it spans the container fully */
  height: auto; /* Prevent height from being constrained */
}

.app-heading {
  margin-top: 0px;
  margin-bottom: 0px;
}