@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
  }
  
  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  
  .nav__link {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav__link:hover {
    color: #9e7e3b;
  }
  