
/* General Reset */
.app-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: black;
  margin-bottom: 20px;
  margin-left: 80px;
  font-style: italic;
  text-align: left;
}


.container {
  margin-top: 4vh;
  display: flex; /* Flexbox to align the content in a row */
  align-items: center; /* Vertically align the content */
  justify-content: space-between; /* Add space between the columns */
}

.cdimage img {
  width: 100%; /* Fixed width for the image */
  height: auto; /* Fixed height for the image */
  object-fit: cover; /* Ensure the image covers the area without distortion */
}

.row {
  width: 100%;
}
/* Optional: Add padding to the columns for better spacing */
.col {
  width: 50%; /* Split the row into two equal columns */
  padding: 10px; /* Add some padding for better spacing */
}

/* Optional: Styling for the text in the first column */
.text {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 1.6;
}
